{% extends 'base.html' %}
{% load static %}
{% block title %}Home Page{% endblock %}

{% block content %}

<!-- Hero -->
<section class="hero">
    <div class="hero-text">
        <h1>
            <span class="word">Trade <span class="span-h1">Services.</span></span><br>
            <span class="word delay">Build <span class="span-h1">Trust.</span></span><br>
            <span class="word delay2">Solve <span class="span-h1">Problems.</span></span>
        </h1>
        <p>Discover your trusted platform for exchanging services and community collaboration.
            Whether it’s technical support, tutoring, home repairs or creative projects, connect with a community that
            solves challenges and shares knowledge. Here, your talents make a difference, and you find the help you
            need. Our mission is to build trust through transparency and mutual value. Join us and become part of a
            network where your skills are valued and problems find practical solutions. Simple, safe and human, your new
            meeting point for collaboration.
        </p>
        <div class="hero-buttons">
            <a href="{% url 'feed' %}"><button class="outline">Explore More</button></a>
            <a href="{% url 'register' %}?mode=signup"><button class="solid"><span>Start Exchanging Now</span></button></a>
        </div>
    </div>
    <div class="hero-image">
        <img src="{% static 'img/Hero.png'%}" alt="hero" />
    </div>
</section>

<!-- Content -->
<section class="content" id="content">
    <div class="img-contend">
        <img src="{% static 'img/Img-content.png'%}" alt="content" />
    </div>
    <div class="content-text">
        <h2>How It Works?</h2>
        <ul>
            <li><i class="fa-solid fa-user-plus"></i> Create an account and set up your profile.</li>
            <li><i class="fa-solid fa-magnifying-glass"></i> Browse available services and offers from other users.</li>
            <li><i class="fa-solid fa-bullhorn"></i> Post your own services or items for trade.</li>
            <li><i class="fa-solid fa-comments"></i> Connect with users to negotiate trades.</li>
            <li><i class="fa-solid fa-handshake"></i> Complete trades and build your reputation.</li>
        </ul>
    </div>
</section>
<section class="community-section">
    <div class="community-text">
        <h2>Join the community now!</h2>
        <div class="step-text step-1">
            <strong>347+</strong><br><span>Barters</span>
        </div>
        <div class="step-text step-2">
            <strong>1.2M+</strong><br><span>Services</span>
        </div>
        <div class="step-text step-3">
            <strong>500k</strong><br><span>Completed Services</span>
        </div>
    </div>
    <div class="community-image">
        <img src="{% static 'img/community-image.png'%}" alt="Community Illustration">
    </div>
</section>
{% endblock %}