{% load static %}

<div id="profile-feed-modal" class="Modal-Container">
    <div class="modal-card-profile">
        <div class="modal-header">
            <img id="profile-avatar" class="profile-avatar" src="" />
            <div class="align-text-profile">
                <h3 id="profile-name" class="profile-name"></h3>
                <p id="profile-description" class="profile-description"></p>
            </div>
            <a class="btn-profile" onclick="openContactModal()"><span>Contact</span></a>
        </div>

        <div class="bottom-panel">
            <button onclick="closeProfileModal()" class="close-btn-profile">✖</button>
            <div class="tabs">
                <button class="tab active" onclick="showTab('tab-services')">Serviços Fornecidos</button>
                <button class="tab" onclick="showTab('tab-reviews')">Reviews</button>
            </div>
            <div id="tab-services" class="tab-content"></div>
            <div id="tab-reviews" class="tab-content"></div>
        </div>
    </div>
</div>

<div id="contact-modal" class="Modal-Container">
    <div class="modal-card">
        <div class="left-panel">
            <h2>Contact Me!</h2>
            <p>Start a conversation with this user.</p>
            <img src="{% static 'img/modal.png' %}" alt="Contact Illustration" />
        </div>
        <div class="right-panel">
            <span class="close-btn" onclick="closeModal()">×</span>
            <div class="user-info">
                <div class="form-group">
                    <img id="modal-user-avatar" class="user-avatar" alt="User Avatar" />
                    <div class="align-text-rating">
                        <h3 id="modal-user-name" class="user-name">User Name</h3>
                        <div id="modal-user-rating" class="user-stars">★★★★☆</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="category-box">
                        <img id="modal-trade1-icon" class="category-trade-icon" alt="Category Icon 1" />
                        <span id="modal-trade1-title" class="category-trade-title">Category 1</span>
                    </div>
                    <p id="modal-user-description" class="user-description">Descrição do utilizador...</p>
                </div>
                <form id="contact-form">
                    <div class="form-group">
                        <textarea id="message" placeholder=" " required></textarea>
                        <label for="message">Write your message</label>

                        <button type="submit" class="submit-btn">Send message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>