<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Bartrify{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/css/styles.css' %}">
    <!-- Header -->
    <header class="header">
                <div class="logo">
            <img src="https://img.icons8.com/ios-filled/50/ffffff/handshake.png" alt="Logo">
            <span>DASHBOARD</span>
        </div>
        <div class="nav-right">
            <a href="#">HOME</a>
            <button class="sign-out">SIGN OUT <img src="https://img.icons8.com/ios-filled/16/ffffff/exit.png" alt=""></button>
        </div>
    </header>

    <!-- Main Content -->
    {% block content %}{% endblock %}

    <!-- Footer -->
    <div class="wave-footer"></div>
    <section>
        <footer class="footer">
            <!-- insert footer here -->
        </footer>
    </section>
    <script>
        document.getElementById('date').textContent = new Date().getFullYear();
    </script>
</body>

</html>