
    .modal-overlay3 {
      position: fixed;
      inset: 0;
      background: rgba(0,0,0,0.4);
      display: none;
      align-items: center;
      justify-content: flex-start; /* start from left */
      z-index: 1000;
    }
    .modal-overlay3.active {
      display: flex;
    }

    /* Modal box */
    .modal-content3 {
      top: 3.8rem;
      background: white;
      width: 80%;
      max-width: 61rem;
      height: 32.9rem;
      margin-left: 0;
      border-radius: 8px;
      box-shadow: 0 4px 20px rgba(0,0,0,0.2);
      transform: translateX(-100%);
      transition: transform 0.5s ease;
      position: relative;
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }
    .modal-content3.open {
      transform: translateX(19rem);
    }

    /* Close button */
    .close-btn3 {
      position: absolute;
      top: 1rem;
      right: 1rem;
      background: none;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;
      color: #556B2F;
    }
    .close-btn3:hover {
      color: #334218;
    }

    /* Content area */
    .modal-body3 {
      padding: 2rem;
      overflow-y: auto;
      flex: 1;
    }